/*@font-face {
  font-family: 'stripped_responsive';
  src: url('../font/stripped_responsive?96861238');
  src: url('../font/stripped_responsive.eot?96861238#iefix') format('embedded-opentype'),
       url('../font/stripped_responsive.woff2?96861238') format('woff2'),
       url('../font/stripped_responsive.woff?96861238') format('woff'),
       url('../font/stripped_responsive.ttf?96861238') format('truetype'),
       url('../font/stripped_responsive.svg?96861238#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96861238#fontello') format('svg');
  }
}
*/

@font-face {
  font-family: 'stripped_responsive';
  src: url('../font/stripped_responsive.eot?96861238');
  src: url('../font/stripped_responsive.eot?96861238#iefix') format('embedded-opentype'),
       url('../font/stripped_responsive.woff2?96861238') format('woff2'),
       url('../font/stripped_responsive.woff?96861238') format('woff'),
       url('../font/stripped_responsive.ttf?96861238') format('truetype'),
       url('../font/stripped_responsive.svg?96861238#stripped_responsive') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="pwg-icon-"]:before, [class*=" pwg-icon-"]:before {
  font-family: "stripped_responsive";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.pwg-icon-vcard:before { content: '\e800'; } /* '' */
.pwg-icon-pin:before { content: '\e801'; } /* '' */
.pwg-icon-reply:before { content: '\e802'; } /* '' */
.pwg-icon-reply-all:before { content: '\e803'; } /* '' */
.pwg-icon-forward:before { content: '\e804'; } /* '' */
.pwg-icon-print:before { content: '\e805'; } /* '' */
.pwg-icon-keyboard:before { content: '\e806'; } /* '' */
.pwg-icon-slider-left:before { content: '\e807'; } /* '' */
.pwg-icon-clock-empty:before { content: '\e808'; } /* '' */
.pwg-icon-hourglass:before { content: '\e809'; } /* '' */
.pwg-icon-login:before { content: '\e80a'; } /* '' */
.pwg-icon-logout:before { content: '\e80b'; } /* '' */
.pwg-icon-picture:before { content: '\e80c'; } /* '' */
.pwg-icon-brush:before { content: '\e80d'; } /* '' */
.pwg-icon-ccw:before { content: '\e80e'; } /* '' */
.pwg-icon-cw:before { content: '\e80f'; } /* '' */
.pwg-icon-refresh:before { content: '\e810'; } /* '' */
.pwg-icon-clock:before { content: '\e811'; } /* '' */
.pwg-icon-circle-empty:before { content: '\e812'; } /* '' */
.pwg-icon-circle-dot:before { content: '\e813'; } /* '' */
.pwg-icon-circle:before { content: '\e814'; } /* '' */
.pwg-icon-checkbox:before { content: '\e815'; } /* '' */
.pwg-icon-checkbox-empty:before { content: '\e816'; } /* '' */
.pwg-icon-book:before { content: '\e817'; } /* '' */
.pwg-icon-mail-empty:before { content: '\e818'; } /* '' */
.pwg-icon-mail:before { content: '\e819'; } /* '' */
.pwg-icon-phone:before { content: '\e81a'; } /* '' */
.pwg-icon-book-open:before { content: '\e81b'; } /* '' */
.pwg-icon-users-group:before { content: '\e81c'; } /* '' */
.pwg-icon-male:before { content: '\e81d'; } /* '' */
.pwg-icon-female:before { content: '\e81e'; } /* '' */
.pwg-icon-child:before { content: '\e81f'; } /* '' */
.pwg-icon-star:before { content: '\e820'; } /* '' */
.pwg-icon-globe:before { content: '\e821'; } /* '' */
.pwg-icon-mobile:before { content: '\e822'; } /* '' */
.pwg-icon-tablet-1:before { content: '\e823'; } /* '' */
.pwg-icon-laptop:before { content: '\e824'; } /* '' */
.pwg-icon-desktop:before { content: '\e825'; } /* '' */
.pwg-icon-cog:before { content: '\e826'; } /* '' */
.pwg-icon-cogs:before { content: '\e827'; } /* '' */
.pwg-icon-down:before { content: '\e828'; } /* '' */
.pwg-icon-wrench:before { content: '\e829'; } /* '' */
.pwg-icon-sliders:before { content: '\e82a'; } /* '' */
.pwg-icon-lock:before { content: '\e82b'; } /* '' */
.pwg-icon-trophy:before { content: '\e82c'; } /* '' */
.pwg-icon-spin3:before { content: '\e82d'; } /* '' */
.pwg-icon-spin1:before { content: '\e82e'; } /* '' */
.pwg-icon-spin2:before { content: '\e82f'; } /* '' */
.pwg-icon-spin4:before { content: '\e830'; } /* '' */
.pwg-icon-spin5:before { content: '\e831'; } /* '' */
.pwg-icon-spin6:before { content: '\e832'; } /* '' */
.pwg-icon-map:before { content: '\e833'; } /* '' */
.pwg-icon-address:before { content: '\e834'; } /* '' */
.pwg-icon-up:before { content: '\e835'; } /* '' */
.pwg-icon-right:before { content: '\e836'; } /* '' */
.pwg-icon-left:before { content: '\e837'; } /* '' */
.pwg-icon-music-light:before { content: '\e838'; } /* '' */
.pwg-icon-search-light:before { content: '\e839'; } /* '' */
.pwg-icon-mail-light:before { content: '\e83a'; } /* '' */
.pwg-icon-heart-light:before { content: '\e83b'; } /* '' */
.pwg-icon-dot:before { content: '\e83c'; } /* '' */
.pwg-icon-user-light:before { content: '\e83d'; } /* '' */
.pwg-icon-video-light:before { content: '\e83e'; } /* '' */
.pwg-icon-camera-light:before { content: '\e83f'; } /* '' */
.pwg-icon-photo-light:before { content: '\e840'; } /* '' */
.pwg-icon-attach-light:before { content: '\e841'; } /* '' */
.pwg-icon-lock-light:before { content: '\e842'; } /* '' */
.pwg-icon-eye-light:before { content: '\e843'; } /* '' */
.pwg-icon-tag-light:before { content: '\e844'; } /* '' */
.pwg-icon-thumbs-up-light:before { content: '\e845'; } /* '' */
.pwg-icon-pencil-light:before { content: '\e846'; } /* '' */
.pwg-icon-comment-light:before { content: '\e847'; } /* '' */
.pwg-icon-location-light:before { content: '\e848'; } /* '' */
.pwg-icon-cup-light:before { content: '\e849'; } /* '' */
.pwg-icon-trash-light:before { content: '\e84a'; } /* '' */
.pwg-icon-doc-light:before { content: '\e84b'; } /* '' */
.pwg-icon-key-light:before { content: '\e84c'; } /* '' */
.pwg-icon-database-light:before { content: '\e84d'; } /* '' */
.pwg-icon-megaphone-light:before { content: '\e84e'; } /* '' */
.pwg-icon-graduation-light:before { content: '\e84f'; } /* '' */
.pwg-icon-fire-light:before { content: '\e850'; } /* '' */
.pwg-icon-paper-plane-light:before { content: '\e851'; } /* '' */
.pwg-icon-cloud-light:before { content: '\e852'; } /* '' */
.pwg-icon-globe-light:before { content: '\e853'; } /* '' */
.pwg-icon-inbox-light:before { content: '\e854'; } /* '' */
.pwg-icon-cd-light:before { content: '\e855'; } /* '' */
.pwg-icon-mobile-light:before { content: '\e856'; } /* '' */
.pwg-icon-desktop-light:before { content: '\e857'; } /* '' */
.pwg-icon-tv-light:before { content: '\e858'; } /* '' */
.pwg-icon-wallet-light:before { content: '\e859'; } /* '' */
.pwg-icon-t-shirt-light:before { content: '\e85a'; } /* '' */
.pwg-icon-lightbulb-light:before { content: '\e85b'; } /* '' */
.pwg-icon-clock-light:before { content: '\e85c'; } /* '' */
.pwg-icon-diamond-light:before { content: '\e85d'; } /* '' */
.pwg-icon-shop-light:before { content: '\e85e'; } /* '' */
.pwg-icon-sound-light:before { content: '\e85f'; } /* '' */
.pwg-icon-calendar-light:before { content: '\e860'; } /* '' */
.pwg-icon-food-light:before { content: '\e861'; } /* '' */
.pwg-icon-money-light:before { content: '\e862'; } /* '' */
.pwg-icon-params-light:before { content: '\e863'; } /* '' */
.pwg-icon-cog-light:before { content: '\e864'; } /* '' */
.pwg-icon-beaker-light:before { content: '\e865'; } /* '' */
.pwg-icon-note-light:before { content: '\e866'; } /* '' */
.pwg-icon-truck-light:before { content: '\e867'; } /* '' */
.pwg-icon-behance:before { content: '\e868'; } /* '' */
.pwg-icon-bitbucket:before { content: '\e869'; } /* '' */
.pwg-icon-cc:before { content: '\e86a'; } /* '' */
.pwg-icon-codeopen:before { content: '\e86b'; } /* '' */
.pwg-icon-css3:before { content: '\e86c'; } /* '' */
.pwg-icon-delicious:before { content: '\e86d'; } /* '' */
.pwg-icon-digg:before { content: '\e86e'; } /* '' */
.pwg-icon-dribbble:before { content: '\e86f'; } /* '' */
.pwg-icon-deviantart:before { content: '\e870'; } /* '' */
.pwg-icon-dropbox:before { content: '\e871'; } /* '' */
.pwg-icon-drupal:before { content: '\e872'; } /* '' */
.pwg-icon-facebook:before { content: '\e873'; } /* '' */
.pwg-icon-flickr:before { content: '\e874'; } /* '' */
.pwg-icon-foursquare:before { content: '\e875'; } /* '' */
.pwg-icon-git:before { content: '\e876'; } /* '' */
.pwg-icon-github:before { content: '\e877'; } /* '' */
.pwg-icon-gittip:before { content: '\e878'; } /* '' */
.pwg-icon-google:before { content: '\e879'; } /* '' */
.pwg-icon-gplus:before { content: '\e87a'; } /* '' */
.pwg-icon-gwallet:before { content: '\e87b'; } /* '' */
.pwg-icon-hacker-news:before { content: '\e87c'; } /* '' */
.pwg-icon-html5:before { content: '\e87d'; } /* '' */
.pwg-icon-instagramm:before { content: '\e87e'; } /* '' */
.pwg-icon-ioxhost:before { content: '\e87f'; } /* '' */
.pwg-icon-joomla:before { content: '\e880'; } /* '' */
.pwg-icon-jsfiddle:before { content: '\e881'; } /* '' */
.pwg-icon-lastfm:before { content: '\e882'; } /* '' */
.pwg-icon-linux:before { content: '\e883'; } /* '' */
.pwg-icon-linkedin:before { content: '\e884'; } /* '' */
.pwg-icon-maxcdn:before { content: '\e885'; } /* '' */
.pwg-icon-meanpath:before { content: '\e886'; } /* '' */
.pwg-icon-openid:before { content: '\e887'; } /* '' */
.pwg-icon-pagelines:before { content: '\e888'; } /* '' */
.pwg-icon-paypal:before { content: '\e889'; } /* '' */
.pwg-icon-qq:before { content: '\e88a'; } /* '' */
.pwg-icon-reddit:before { content: '\e88b'; } /* '' */
.pwg-icon-renren:before { content: '\e88c'; } /* '' */
.pwg-icon-skype:before { content: '\e88d'; } /* '' */
.pwg-icon-slack:before { content: '\e88e'; } /* '' */
.pwg-icon-slideshare:before { content: '\e88f'; } /* '' */
.pwg-icon-soundcloud:before { content: '\e890'; } /* '' */
.pwg-icon-spotify:before { content: '\e891'; } /* '' */
.pwg-icon-stackexchange:before { content: '\e892'; } /* '' */
.pwg-icon-stackoverflow:before { content: '\e893'; } /* '' */
.pwg-icon-steam:before { content: '\e894'; } /* '' */
.pwg-icon-stumbleupon:before { content: '\e895'; } /* '' */
.pwg-icon-tencent-weibo:before { content: '\e896'; } /* '' */
.pwg-icon-trello:before { content: '\e897'; } /* '' */
.pwg-icon-tumblr:before { content: '\e898'; } /* '' */
.pwg-icon-twitch:before { content: '\e899'; } /* '' */
.pwg-icon-twitter:before { content: '\e89a'; } /* '' */
.pwg-icon-vine:before { content: '\e89b'; } /* '' */
.pwg-icon-vkontakte:before { content: '\e89c'; } /* '' */
.pwg-icon-wechat:before { content: '\e89d'; } /* '' */
.pwg-icon-weibo:before { content: '\e89e'; } /* '' */
.pwg-icon-windows:before { content: '\e89f'; } /* '' */
.pwg-icon-wordpress:before { content: '\e8a0'; } /* '' */
.pwg-icon-xing:before { content: '\e8a1'; } /* '' */
.pwg-icon-yelp:before { content: '\e8a2'; } /* '' */
.pwg-icon-youtube:before { content: '\e8a3'; } /* '' */
.pwg-icon-yahoo:before { content: '\e8a4'; } /* '' */
.pwg-icon-lemon:before { content: '\e8a5'; } /* '' */
.pwg-icon-blank:before { content: '\e8a6'; } /* '' */
.pwg-icon-pinterest-circled:before { content: '\e8a7'; } /* '' */
.pwg-icon-heart-empty:before { content: '\e8a8'; } /* '' */
.pwg-icon-lock-open:before { content: '\e8a9'; } /* '' */
.pwg-icon-heart:before { content: '\e8aa'; } /* '' */
.pwg-icon-check:before { content: '\e8ab'; } /* '' */
.pwg-icon-cancel:before { content: '\e8ac'; } /* '' */
.pwg-icon-plus:before { content: '\e8ad'; } /* '' */
.pwg-icon-minus:before { content: '\e8ae'; } /* '' */
.pwg-icon-double-left:before { content: '\e8af'; } /* '' */
.pwg-icon-double-right:before { content: '\e8b0'; } /* '' */
.pwg-icon-double-up:before { content: '\e8b1'; } /* '' */
.pwg-icon-double-down:before { content: '\e8b2'; } /* '' */
.pwg-icon-help:before { content: '\e8b3'; } /* '' */
.pwg-icon-info:before { content: '\e8b4'; } /* '' */
.pwg-icon-link:before { content: '\e8b5'; } /* '' */
.pwg-icon-quote:before { content: '\e8b6'; } /* '' */
.pwg-icon-attach:before { content: '\e8b7'; } /* '' */
.pwg-icon-eye:before { content: '\e8b8'; } /* '' */
.pwg-icon-tag:before { content: '\e8b9'; } /* '' */
.pwg-icon-menu:before { content: '\e8ba'; } /* '' */
.pwg-icon-pencil:before { content: '\e8bb'; } /* '' */
.pwg-icon-feather:before { content: '\e8bc'; } /* '' */
.pwg-icon-code:before { content: '\e8bd'; } /* '' */
.pwg-icon-home:before { content: '\e8be'; } /* '' */
.pwg-icon-camera:before { content: '\e8bf'; } /* '' */
.pwg-icon-pictures:before { content: '\e8c0'; } /* '' */
.pwg-icon-video:before { content: '\e8c1'; } /* '' */
.pwg-icon-users:before { content: '\e8c2'; } /* '' */
.pwg-icon-user:before { content: '\e8c3'; } /* '' */
.pwg-icon-user-add:before { content: '\e8c4'; } /* '' */
.pwg-icon-comment-empty:before { content: '\e8c5'; } /* '' */
.pwg-icon-chat-empty:before { content: '\e8c6'; } /* '' */
.pwg-icon-bell:before { content: '\e8c7'; } /* '' */
.pwg-icon-star-empty:before { content: '\e8c8'; } /* '' */
.pwg-icon-dot2:before { content: '\e8c9'; } /* '' */
.pwg-icon-dot3:before { content: '\e8ca'; } /* '' */
.pwg-icon-note:before { content: '\e8cb'; } /* '' */
.pwg-icon-basket:before { content: '\e8cc'; } /* '' */
.pwg-icon-note2:before { content: '\e8cd'; } /* '' */
.pwg-icon-share:before { content: '\e8ce'; } /* '' */
.pwg-icon-doc:before { content: '\e8cf'; } /* '' */
.pwg-icon-doc-text:before { content: '\e8d0'; } /* '' */
.pwg-icon-file-pdf:before { content: '\e8d1'; } /* '' */
.pwg-icon-file-word:before { content: '\e8d2'; } /* '' */
.pwg-icon-file-excel:before { content: '\e8d3'; } /* '' */
.pwg-icon-file-powerpoint:before { content: '\e8d4'; } /* '' */
.pwg-icon-file-image:before { content: '\e8d5'; } /* '' */
.pwg-icon-file-archive:before { content: '\e8d6'; } /* '' */
.pwg-icon-file-audio:before { content: '\e8d7'; } /* '' */
.pwg-icon-file-video:before { content: '\e8d8'; } /* '' */
.pwg-icon-file-code:before { content: '\e8d9'; } /* '' */
.pwg-icon-trash-empty:before { content: '\e8da'; } /* '' */
.pwg-icon-trash:before { content: '\e8db'; } /* '' */
.pwg-icon-th-large:before { content: '\e8dc'; } /* '' */
.pwg-icon-th:before { content: '\e8dd'; } /* '' */
.pwg-icon-th-list:before { content: '\e8de'; } /* '' */
.pwg-icon-flag:before { content: '\e8df'; } /* '' */
.pwg-icon-attention:before { content: '\e8e0'; } /* '' */
.pwg-icon-play:before { content: '\e8e1'; } /* '' */
.pwg-icon-stop:before { content: '\e8e2'; } /* '' */
.pwg-icon-pause:before { content: '\e8e3'; } /* '' */
.pwg-icon-record:before { content: '\e8e4'; } /* '' */
.pwg-icon-to-end:before { content: '\e8e5'; } /* '' */
.pwg-icon-tools:before { content: '\e8e6'; } /* '' */
.pwg-icon-retweet:before { content: '\e8e7'; } /* '' */
.pwg-icon-to-start:before { content: '\e8e8'; } /* '' */
.pwg-icon-fast-forward:before { content: '\e8e9'; } /* '' */
.pwg-icon-fast-backward:before { content: '\e8ea'; } /* '' */
.pwg-icon-search:before { content: '\e8eb'; } /* '' */
.pwg-icon-slider-right:before { content: '\e8ec'; } /* '' */
.pwg-icon-rss:before { content: '\e8ed'; } /* '' */
.pwg-icon-down-big:before { content: '\e8ee'; } /* '' */
.pwg-icon-left-big:before { content: '\e8ef'; } /* '' */
.pwg-icon-right-big:before { content: '\e8f0'; } /* '' */
.pwg-icon-up-big:before { content: '\e8f1'; } /* '' */
.pwg-icon-comment-2:before { content: '\e8f2'; } /* '' */
.pwg-icon-comment:before { content: '\e8f3'; } /* '' */
.pwg-icon-eye-2:before { content: '\e8f4'; } /* '' */
.pwg-icon-tablet:before { content: '\e8f5'; } /* '' */
.pwg-icon-boat:before { content: '\e8f6'; } /* '' */
.pwg-icon-bottle:before { content: '\e8f7'; } /* '' */
.pwg-icon-calendar:before { content: '\e8f8'; } /* '' */
.pwg-icon-search-alt:before { content: '\e8f9'; } /* '' */
.pwg-icon-white:before { content: '\e8fa'; } /* '' */
.pwg-icon-home-alt:before { content: '\e8fb'; } /* '' */
.pwg-icon-timer:before { content: '\e8fc'; } /* '' */
.pwg-icon-locator:before { content: '\e8fd'; } /* '' */
.pwg-icon-cup:before { content: '\e8fe'; } /* '' */
.pwg-icon-currency:before { content: '\e8ff'; } /* '' */
.pwg-icon-box:before { content: '\e900'; } /* '' */
.pwg-icon-quote-left:before { content: '\e901'; } /* '' */
.pwg-icon-quote-right:before { content: '\e902'; } /* '' */
.pwg-icon-volume-up:before { content: '\e903'; } /* '' */
.pwg-icon-volume-off:before { content: '\e904'; } /* '' */
.pwg-icon-volume:before { content: '\e905'; } /* '' */
.pwg-icon-volume-down:before { content: '\e906'; } /* '' */
.pwg-icon-arrow-left-alt:before { content: '\e907'; } /* '' */
.pwg-icon-arrow-right-alt:before { content: '\e908'; } /* '' */
.pwg-icon-thumbs-up:before { content: '\e909'; } /* '' */
.pwg-icon-thumbs-down:before { content: '\e90a'; } /* '' */
.pwg-icon-speech:before { content: '\e90b'; } /* '' */
.pwg-icon-sphere:before { content: '\e90c'; } /* '' */
.pwg-icon-light:before { content: '\e90d'; } /* '' */
.pwg-icon-apple-mouse:before { content: '\e90e'; } /* '' */
