
.pwg-icon-cog:before { content: '\e800'; } /* '' */
.pwg-icon-download:before { content: '\e801'; } /* '' */
.pwg-icon-slideshow:before { content: '\e802'; } /* '' */
.pwg-icon-heart:before { content: '\e803'; } /* '' */